<h2 class="heading-h2 fw-bold mb-3">Labels</h2>
<p class="paragraph-regular mb-4">Patrón visual que se utiliza para categorizar la información y proporcionar un reconocimiento rápido y sencillo.
</p>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Regular</h5>
<span class="labels labels-pendiente">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Registrado</span>
</span>
<span class="labels labels-verificado">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Verificado</span>
</span>
<span class="labels labels-aprobado">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Aprobado</span>
</span>
<span class="labels labels-rechazado">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Rechazado</span>
</span>
<span class="labels labels-descartado">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Descartado</span>
</span>
<span class="labels labels-enviadoopp">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Enviado opp</span>
</span>
<span class="labels labels-activo">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Activo</span>
</span>
<span class="labels labels-inactivo">
	<span class="labels_circle"></span>
	<span class="text-capitalize">Inactivo</span>
</span>
<pre prism class="dark mb-5" [code]="labels" language="html"></pre>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Circulo</h5>
<span class="labels labels-aprobado estado-circulo" placement="left" ngbTooltip="Aprobado">A</span>
<span class="labels labels-pendiente estado-circulo" placement="left" ngbTooltip="Pendiente">P</span>
<span class="labels labels-verificado estado-circulo" placement="left" ngbTooltip="Verificado">V</span>
<span class="labels labels-rechazado estado-circulo" placement="left" ngbTooltip="Rechazado">R</span>
<span class="labels labels-descartado estado-circulo" placement="left" ngbTooltip="Descartado">D</span>
<span class="labels labels-enviadoopp estado-circulo" placement="left" ngbTooltip="Enviado opp">E</span>
<span class="labels labels-activo estado-circulo" placement="left" ngbTooltip="Activo">A</span>
<span class="labels labels-inactivo estado-circulo" placement="left" ngbTooltip="Inactivo">I</span>
<pre prism class="dark mb-5" [code]="labelsCircle" language="html"></pre>