.siaf {
	.btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		height: $siaf-btn-regular;
		border-radius: $border-radius-sm;
		.feather {
			font-size: 16px;
		}
		&.btn-sm {
			font-size: 12px;
			height: $siaf-btn-small;
			.feather {
				font-size: 14px;
			}
		}
		&.btn-lg {
			font-size: 16px;
			height: $siaf-btn-large;
			.feather {
				font-size: 18px;
			}
		}
		&.btn-primary {
			color: white !important;
		}
		&.btn-secondary {
			color: $siaf-grey-30;
			&:hover, &:active, &:focus {
				background-color: $siaf-grey-20 !important;
				border-color: $siaf-grey-20 !important;
			}
			&:active {
				color: $siaf-grey-30 !important;
			}
			&.disabled, &:disabled {
				pointer-events: none;
			}
		}
		&.btn-outline-primary {
			&:hover, &:focus, &:active {
				color: $siaf-white !important;
				background-color: $siaf-red !important;
			}
		}
		&.btn-outline-secondary {
			color: $siaf-grey-40;
    		border-color: $siaf-grey-20;
			&:hover, &:active, &:focus {
				background-color: $siaf-grey-10 !important;
				// border-color: $siaf-grey-10 !important;
			}
			&:active {
				color: $siaf-grey-30 !important;
			}
			&.disabled, &:disabled {
				color: $siaf-grey-20;
				pointer-events: none;
			}
		}
		&.btn-outline-light {
			color: $siaf-grey-40;
			background-color: transparent;
			border-color: transparent;
			&:hover {
				color: $siaf-red;
			}
			&:focus, &:active, &:active {
				color: $siaf-red !important;
				background-color: transparent !important;
				box-shadow: none !important;
				border-color: transparent !important;
			}
			&.btn-icon {
				.feather {
					font-size: 18px;
				}
				&.btn-sm {
					.feather {
						font-size: 16px;
					}
				}
				&.btn-lg {
					.feather {
						font-size: 20px;
					}
				}
			}
			&.disabled, &:disabled {
				pointer-events: none;
				color: $siaf-grey-20;
				background-color: transparent;
			}
		}
		&-icon {
			width: $siaf-btn-regular;
			&.btn-sm {
				width: $siaf-btn-small;
			}
			&.btn-lg {
				width: $siaf-btn-large;
			}
		}
		&-menu {
			cursor: pointer;
			background-color: $siaf-red-dark;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			@include transition (all 0.3s cubic-bezier(0.0,0.0,0.2,1));
		}
		&.disabled, &:disabled {
			opacity: .5;
		}
	}
}


