.siaf {
	.dropdown-menu{
		border:none;
		box-shadow: $box-shadow-lg;
		.ngb-dp-header {
			background-color: $siaf-grey-10;
			.form-select {
				border: 1px solid $siaf-grey-20;
				border-radius: $border-radius;
			}
		}
		.ngb-dp-weekdays {
			background-color: $siaf-grey-10;
			border-bottom: 1px solid $siaf-grey-20;
			.ngb-dp-weekday {
				color: $siaf-red;
			}
		}
		.btn-link {
			color: $siaf-grey-30;
		}
		.btn-light:hover, .btn-light:focus, .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active {
			background-color: $siaf-grey-10;
		}
	}
}
