// Calibri
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.woff2") format("woff2"),
    url("../fonts/Calibri/Calibri.woff") format("woff"),
    url("../fonts/Calibri/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri-Bold.woff2") format("woff2"),
    url("../fonts/Calibri/Calibri-Bold.woff") format("woff"),
    url("../fonts/Calibri/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
// SourceCodePro
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro/SourceCodePro.woff2") format("woff2"),
    url("../fonts/SourceCodePro/SourceCodePro.woff") format("woff"),
    url("../fonts/SourceCodePro/SourceCodePro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.woff2") format("woff2"),
    url("../fonts/SourceCodePro/SourceCodePro-Bold.woff") format("woff"),
    url("../fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
