.nav {
  .nav-item {
    .nav-link {
       color: $siaf-grey-30;
       background-color: transparent;
       border-radius: $border-radius;
       @include transition (all 0.3s cubic-bezier(0.0,0.0,0.2,1));
       &.active, &.active:hover {
         color: $siaf-red;
         background-color: $siaf-red-ligth;
       }
       &:hover {
         background-color: $siaf-grey-10;
       }
    }
  }
}
