.siaf {
	.content-pagination {
		display: flex;
		align-items: center;
		.page-item {
			display: none;
			&:first-child, &:last-child {
				display: inline-block;
				.page-link {
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.pagination {
		margin-bottom: 0;
		.page-item {
			&.disabled {
				.page-link { 
					color: $siaf-grey-20;
				}
			}
		}
		.page-link {
			height: 32px;
			width: 32px;
			box-shadow: none;
			border: none;
			color: $siaf-grey-30;
			&:hover {
				color: $siaf-red;
				background-color: transparent;
			}
			.feather {
				font-size: 16px;
			}
		}
		&.pagination-sm {
			.page-link {
				height: 28px;
				width: 28px;
				.feather {
					font-size: 14px;
				}
			}
		}
		&.pagination-lg {
			.page-link {
				height: 38px;
				width: 38px;
				.feather {
					font-size: 18px;
				}
			}
		}
	}
}