<h2 class="heading-h2 fw-bold mb-3">Repositorio</h2>
<p class="paragraph-regular mb-4">El proyecto esta listo para poder desplegarse con cualquier solución de automatización, ruta del repositorio:</p>
<hr>
<h6 class="label-extralarge mt-4 mb-3">Ruta</h6>
<p class="paragraph-regular siaf-grey-30 mb-4">Abrir el explorador de su preferencia y escribir en la barra de direcciones lo siguiente:
 <a class="text-break" href="https://machupicchu.mef.gob.pe/laboratorio/base/frontend/mef-plantilla-componente-ui/-/tree/develop" target="_blank" > https://machupicchu.mef.gob.pe/laboratorio/base/frontend/mef-plantilla-componente-ui/-/tree/develop</a></p>
 <hr>
<h6 class="label-extralarge mt-4 mb-3">Clonar proyecto</h6>
<p class="paragraph-regular siaf-grey-30 mb-4">Una vez en el repositorio, debera clonar el proyecto, para eso podrá ingresar el siguiente comando
</p>
<pre prism class="dark" language="html"> git clone https://machupicchu.mef.gob.pe/laboratorio/base/frontend/mef-plantilla-componente-ui/-/tree/develop
</pre>
