<h2 class="heading-h2 fw-bold mb-3">Insignias</h2>
<p class="paragraph-regular mb-4">Es un pequeño componente de conteo y etiquetado.</p>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Estilos</h5>
<span class="badge bg-secondary text-black text-black">Certificación</span>
<span class="badge bg-warning">5 Metas</span>
<span class="badge bg-success">Success</span>
<span class="badge bg-danger">Danger</span>
<span class="badge bg-info">Info</span>
<pre prism class="dark mb-5" [code]="badgeStyle" language="html"></pre>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Tamaños</h5>
<span class="badge badge-lg bg-secondary text-black text-black">Compromiso mensual</span>
<span class="badge badge-lg bg-warning">5 Metas</span>
<pre prism class="dark mb-5" [code]="badgeSize" language="html"></pre>