<h2 class="heading-h2 fw-bold mb-3">Descripción General</h2>
<p class="paragraph-regular mb-4">El presente sistema de diseño fue creado con finalidad de tener un conjunto de
	componentes reutilizables para acelerar
	el proceso de creación de distintas aplicaciones web, tanto para los futuros diseñadores y desarrolladores, para que
	pueden tener lista siempre una amplia colección de recursos, acompañados además de toda la información necesaria
	para
	trabajar con ellos adecuadamente.</p>
<div class="bg-secondary border d-flex align-items-center justify-content-center pt-5 pb-3 px-3">
	<img src="assets/images/siaf-componentes.svg" class="mw-100" alt="siaf-componentes">
</div>
<div class="row g-2 mt-4">
	<div class="col-sm-6">
		<div class="shadow rounded p-4">
			<h6 class="label-extralarge fw-bold mb-2">Aplicativo base</h6>
			<p class="paragraph-regular">Se ha creado un proyecto base, el cual contiene todos los componentes y
				estilos, para
				acelerar el proceso de desarrollo.</p>
			<div>
				<button type="button" class="btn btn-primary">
					<span class="feather icon-download me-1"></span>
					Descargar
				</button>
				<a target="_blank" href="https://machupicchu.mef.gob.pe/laboratorio/base/frontend/mef-plantilla-componente-ui/-/tree/develop" class="btn btn-secondary ms-2">
					<span class="feather icon-gitlab me-1"></span>
					Repositorio
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="shadow rounded p-4 h-100">
			<h6 class="label-extralarge fw-bold mb-0">Versión 1.0</h6>
			<p class="paragraph-regular siaf-grey-30 m-0">1 de diciembre 2021</p>
			<br>
			<h6 class="label-extralarge fw-bold mb-0">Versión 2.0</h6>
			<p class="paragraph-regular siaf-grey-30 m-0">1 de setiembre 2022</p>
		</div>
	</div>
</div>