<h2 class="heading-h2 fw-bold mb-3">Iconos</h2>
<p class="paragraph-regular mb-4">Ligero, todo en uno, selección de interfaz de usuario, selección múltiple y
	autocompletado.
</p>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Iconos</h5>
<div class="d-flex align-items-end">
	<span class="box_icon box_icon_sm mb-3">
		<span class="feather icon-hard-drive icon-md"></span>
	</span>
	<span class="box_icon mb-3">
		<span class="feather icon-hard-drive icon-md"></span>
	</span>
	<span class="box_icon box_icon_lg mb-3">
		<span class="feather icon-hard-drive icon-lg"></span>
	</span>
	<span class="box_icon box_icon_xl mb-3">
		<span class="feather icon-hard-drive icon-lg"></span>
	</span>
</div>
<pre prism class="dark mb-4" [code]="icono" language="html"></pre>
<hr>
<h5 class="heading-h5 fw-bold mt-4 mb-3">Listado de iconos</h5>
<pre prism class="dark mb-4" [code]="regular" language="html"></pre>
<ul class="nav grid-container">
	<li class="iconos">
		<span class="icon feather icon-alert-octagon"></span>
		<div class="fontclass">icon-alert-octagon</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-alert-circle"></span>
		<div class="fontclass">icon-alert-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-activity"></span>
		<div class="fontclass">icon-activity</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-alert-triangle"></span>
		<div class="fontclass">icon-alert-triangle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-align-center"></span>
		<div class="fontclass">icon-align-center</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-airplay"></span>
		<div class="fontclass">icon-airplay</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-align-justify"></span>
		<div class="fontclass">icon-align-justify</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-align-left"></span>
		<div class="fontclass">icon-align-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-align-right"></span>
		<div class="fontclass">icon-align-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-down-left"></span>
		<div class="fontclass">icon-arrow-down-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-down-right"></span>
		<div class="fontclass">icon-arrow-down-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-anchor"></span>
		<div class="fontclass">icon-anchor</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-aperture"></span>
		<div class="fontclass">icon-aperture</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-left"></span>
		<div class="fontclass">icon-arrow-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-right"></span>
		<div class="fontclass">icon-arrow-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-down"></span>
		<div class="fontclass">icon-arrow-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-up-left"></span>
		<div class="fontclass">icon-arrow-up-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-up-right"></span>
		<div class="fontclass">icon-arrow-up-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-up"></span>
		<div class="fontclass">icon-arrow-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-award"></span>
		<div class="fontclass">icon-award</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bar-chart"></span>
		<div class="fontclass">icon-bar-chart</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-at-sign"></span>
		<div class="fontclass">icon-at-sign</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bar-chart-2"></span>
		<div class="fontclass">icon-bar-chart-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-battery-charging"></span>
		<div class="fontclass">icon-battery-charging</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bell-off"></span>
		<div class="fontclass">icon-bell-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-battery"></span>
		<div class="fontclass">icon-battery</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bluetooth"></span>
		<div class="fontclass">icon-bluetooth</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bell"></span>
		<div class="fontclass">icon-bell</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-book"></span>
		<div class="fontclass">icon-book</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-briefcase"></span>
		<div class="fontclass">icon-briefcase</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-camera-off"></span>
		<div class="fontclass">icon-camera-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-calendar"></span>
		<div class="fontclass">icon-calendar</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bookmark"></span>
		<div class="fontclass">icon-bookmark</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-box"></span>		
		<div class="fontclass">icon-box</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-camera"></span>
		<div class="fontclass">icon-camera</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-check-circle"></span>
		<div class="fontclass">icon-check-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-check"></span>
		<div class="fontclass">icon-check</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-check-square"></span>
		<div class="fontclass">icon-check-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cast"></span>
		<div class="fontclass">icon-cast</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevron-down"></span>
		<div class="fontclass">icon-chevron-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevron-left"></span>
		<div class="fontclass">icon-chevron-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevron-right"></span>
		<div class="fontclass">icon-chevron-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevron-up"></span>
		<div class="fontclass">icon-chevron-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevrons-down"></span>
		<div class="fontclass">icon-chevrons-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevrons-right"></span>
		<div class="fontclass">icon-chevrons-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevrons-up"></span>
		<div class="fontclass">icon-chevrons-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chevrons-left"></span>
		<div class="fontclass">icon-chevrons-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-circle"></span>
		<div class="fontclass">icon-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-clipboard"></span>
		<div class="fontclass">icon-clipboard</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-chrome"></span>
		<div class="fontclass">icon-chrome</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-clock"></span>
		<div class="fontclass">icon-clock</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud-lightning"></span>
		<div class="fontclass">icon-cloud-lightning</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud-drizzle"></span>
		<div class="fontclass">icon-cloud-drizzle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud-rain"></span>
		<div class="fontclass">icon-cloud-rain</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud-off"></span>
		<div class="fontclass">icon-cloud-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-codepen"></span>
		<div class="fontclass">icon-codepen</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud-snow"></span>
		<div class="fontclass">icon-cloud-snow</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-compass"></span>
		<div class="fontclass">icon-compass</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-copy"></span>
		<div class="fontclass">icon-copy</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-down-right"></span>
		<div class="fontclass">icon-corner-down-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-down-left"></span>
		<div class="fontclass">icon-corner-down-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-left-down"></span>
		<div class="fontclass">icon-corner-left-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-left-up"></span>
		<div class="fontclass">icon-corner-left-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-up-left"></span>
		<div class="fontclass">icon-corner-up-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-up-right"></span>
		<div class="fontclass">icon-corner-up-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-right-down"></span>
		<div class="fontclass">icon-corner-right-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-corner-right-up"></span>
		<div class="fontclass">icon-corner-right-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cpu"></span>
		
		<div class="fontclass">icon-cpu</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-credit-card"></span>
		<div class="fontclass">icon-credit-card</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-crosshair"></span>
		<div class="fontclass">icon-crosshair</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-disc"></span>
		<div class="fontclass">icon-disc</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-delete"></span>
		<div class="fontclass">icon-delete</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-download-cloud"></span>
		<div class="fontclass">icon-download-cloud</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-download"></span>
		<div class="fontclass">icon-download</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-droplet"></span>
		<div class="fontclass">icon-droplet</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-edit-2"></span>
		<div class="fontclass">icon-edit-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-edit"></span>
		<div class="fontclass">icon-edit</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-edit-1"></span>
		<div class="fontclass">icon-edit-1</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-external-link"></span>
		<div class="fontclass">icon-external-link</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-eye"></span>
		
		<div class="fontclass">icon-eye</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-feather"></span>
		<div class="fontclass">icon-feather</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-facebook"></span>
		<div class="fontclass">icon-facebook</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-file-minus"></span>
		<div class="fontclass">icon-file-minus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-eye-off"></span>
		<div class="fontclass">icon-eye-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-fast-forward"></span>
		<div class="fontclass">icon-fast-forward</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-file-text"></span>
		<div class="fontclass">icon-file-text</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-film"></span>
		<div class="fontclass">icon-film</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-file"></span>
		<div class="fontclass">icon-file</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-file-plus"></span>
		<div class="fontclass">icon-file-plus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-folder"></span>
		<div class="fontclass">icon-folder</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-filter"></span>
		<div class="fontclass">icon-filter</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-flag"></span>
		<div class="fontclass">icon-flag</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-globe"></span>
		<div class="fontclass">icon-globe</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-grid"></span>
		<div class="fontclass">icon-grid</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-heart"></span>
		<div class="fontclass">icon-heart</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-home"></span>
		<div class="fontclass">icon-home</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-github"></span>
		<div class="fontclass">icon-github</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-image"></span>
		<div class="fontclass">icon-image</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-inbox"></span>
		<div class="fontclass">icon-inbox</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-layers"></span>
		<div class="fontclass">icon-layers</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-info"></span>
		<div class="fontclass">icon-info</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-instagram"></span>
		<div class="fontclass">icon-instagram</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-layout"></span>
		<div class="fontclass">icon-layout</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-link-2"></span>
		<div class="fontclass">icon-link-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-life-buoy"></span>
		<div class="fontclass">icon-life-buoy</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-link"></span>
		<div class="fontclass">icon-link</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-log-in"></span>
		<div class="fontclass">icon-log-in</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-list"></span>
		<div class="fontclass">icon-list</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-lock"></span>
		<div class="fontclass">icon-lock</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-log-out"></span>
		<div class="fontclass">icon-log-out</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-loader"></span>
		<div class="fontclass">icon-loader</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-mail"></span>
		<div class="fontclass">icon-mail</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-maximize-2"></span>
		<div class="fontclass">icon-maximize-2</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-map"></span>
		
		<div class="fontclass">icon-map</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-maximize"></span>
		<div class="fontclass">icon-maximize</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-map-pin"></span>
		<div class="fontclass">icon-map-pin</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-menu"></span>
		<div class="fontclass">icon-menu</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-message-circle"></span>
		<div class="fontclass">icon-message-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-message-square"></span>
		<div class="fontclass">icon-message-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-minimize-2"></span>
		<div class="fontclass">icon-minimize-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-minimize"></span>
		<div class="fontclass">icon-minimize</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-mic-off"></span>
		<div class="fontclass">icon-mic-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-minus-circle"></span>
		<div class="fontclass">icon-minus-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-mic"></span>		
		<div class="fontclass">icon-mic</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-minus-square"></span>
		<div class="fontclass">icon-minus-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-minus"></span>
		<div class="fontclass">icon-minus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-moon"></span>
		<div class="fontclass">icon-moon</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-monitor"></span>
		<div class="fontclass">icon-monitor</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-more-vertical"></span>
		<div class="fontclass">icon-more-vertical</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-more-horizontal"></span>
		<div class="fontclass">icon-more-horizontal</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-move"></span>
		<div class="fontclass">icon-move</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-music"></span>
		<div class="fontclass">icon-music</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-navigation-2"></span>
		<div class="fontclass">icon-navigation-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-navigation"></span>
		<div class="fontclass">icon-navigation</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-octagon"></span>
		<div class="fontclass">icon-octagon</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-package"></span>
		<div class="fontclass">icon-package</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-pause-circle"></span>
		<div class="fontclass">icon-pause-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-pause"></span>
		<div class="fontclass">icon-pause</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-percent"></span>
		<div class="fontclass">icon-percent</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-call"></span>
		<div class="fontclass">icon-phone-call</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-forwarded"></span>
		<div class="fontclass">icon-phone-forwarded</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-missed"></span>
		<div class="fontclass">icon-phone-missed</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-off"></span>
		<div class="fontclass">icon-phone-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-incoming"></span>
		<div class="fontclass">icon-phone-incoming</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone"></span>
		<div class="fontclass">icon-phone</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-phone-outgoing"></span>
		<div class="fontclass">icon-phone-outgoing</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-pie-chart"></span>
		<div class="fontclass">icon-pie-chart</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-play-circle"></span>
		<div class="fontclass">icon-play-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-play"></span>
		<div class="fontclass">icon-play</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-plus-square"></span>
		<div class="fontclass">icon-plus-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-plus-circle"></span>
		<div class="fontclass">icon-plus-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-plus"></span>
		<div class="fontclass">icon-plus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-pocket"></span>
		<div class="fontclass">icon-pocket</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-printer"></span>
		<div class="fontclass">icon-printer</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-power"></span>
		<div class="fontclass">icon-power</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-radio"></span>
		<div class="fontclass">icon-radio</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-repeat"></span>
		<div class="fontclass">icon-repeat</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-refresh-ccw"></span>
		<div class="fontclass">icon-refresh-ccw</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-rewind"></span>
		<div class="fontclass">icon-rewind</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-rotate-ccw"></span>
		<div class="fontclass">icon-rotate-ccw</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-refresh-cw"></span>
		<div class="fontclass">icon-refresh-cw</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-rotate-cw"></span>
		<div class="fontclass">icon-rotate-cw</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-save"></span>
		<div class="fontclass">icon-save</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-search"></span>
		<div class="fontclass">icon-search</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-server"></span>
		<div class="fontclass">icon-server</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-scissors"></span>
		<div class="fontclass">icon-scissors</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-share-2"></span>
		<div class="fontclass">icon-share-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-share"></span>
		<div class="fontclass">icon-share</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-shield"></span>
		<div class="fontclass">icon-shield</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-settings"></span>
		<div class="fontclass">icon-settings</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-skip-back"></span>
		<div class="fontclass">icon-skip-back</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-shuffle"></span>
		<div class="fontclass">icon-shuffle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-sidebar"></span>
		<div class="fontclass">icon-sidebar</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-skip-forward"></span>
		<div class="fontclass">icon-skip-forward</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-slack"></span>
		<div class="fontclass">icon-slack</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-slash"></span>
		<div class="fontclass">icon-slash</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-smartphone"></span>
		<div class="fontclass">icon-smartphone</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-square"></span>
		<div class="fontclass">icon-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-speaker"></span>
		<div class="fontclass">icon-speaker</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-star"></span>
		<div class="fontclass">icon-star</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-stop-circle"></span>
		<div class="fontclass">icon-stop-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-sun"></span>		
		<div class="fontclass">icon-sun</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-sunrise"></span>
		<div class="fontclass">icon-sunrise</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-tablet"></span>
		<div class="fontclass">icon-tablet</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-tag"></span>
		
		<div class="fontclass">icon-tag</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-sunset"></span>
		<div class="fontclass">icon-sunset</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-target"></span>
		<div class="fontclass">icon-target</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-thermometer"></span>
		<div class="fontclass">icon-thermometer</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-thumbs-up"></span>
		<div class="fontclass">icon-thumbs-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-thumbs-down"></span>
		<div class="fontclass">icon-thumbs-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-toggle-left"></span>
		<div class="fontclass">icon-toggle-left</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-toggle-right"></span>
		<div class="fontclass">icon-toggle-right</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-trash-2"></span>
		<div class="fontclass">icon-trash-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-trash"></span>
		<div class="fontclass">icon-trash</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-trending-up"></span>
		<div class="fontclass">icon-trending-up</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-trending-down"></span>
		<div class="fontclass">icon-trending-down</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-triangle"></span>
		<div class="fontclass">icon-triangle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-type"></span>
		<div class="fontclass">icon-type</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-twitter"></span>
		<div class="fontclass">icon-twitter</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-upload"></span>
		<div class="fontclass">icon-upload</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-umbrella"></span>
		<div class="fontclass">icon-umbrella</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-upload-cloud"></span>
		<div class="fontclass">icon-upload-cloud</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-unlock"></span>
		<div class="fontclass">icon-unlock</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-user-check"></span>
		<div class="fontclass">icon-user-check</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-user-minus"></span>
		<div class="fontclass">icon-user-minus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-user-plus"></span>
		<div class="fontclass">icon-user-plus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-user-x"></span>
		<div class="fontclass">icon-user-x</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-user"></span>
		<div class="fontclass">icon-user</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-users"></span>
		<div class="fontclass">icon-users</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-video-off"></span>
		<div class="fontclass">icon-video-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-video"></span>
		<div class="fontclass">icon-video</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-voicemail"></span>
		<div class="fontclass">icon-voicemail</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-volume-x"></span>
		<div class="fontclass">icon-volume-x</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-volume-2"></span>
		<div class="fontclass">icon-volume-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-volume-1"></span>
		<div class="fontclass">icon-volume-1</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-volume"></span>
		<div class="fontclass">icon-volume</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-watch"></span>
		<div class="fontclass">icon-watch</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-wifi"></span>
		<div class="fontclass">icon-wifi</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-x-square"></span>
		<div class="fontclass">icon-x-square</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-wind"></span>
		<div class="fontclass">icon-wind</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-x"></span>
			<div class="fontclass">icon-x</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-x-circle"></span>
		<div class="fontclass">icon-x-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-zap"></span>
		<div class="fontclass">icon-zap</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-zoom-in"></span>
		<div class="fontclass">icon-zoom-in</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-zoom-out"></span>
		<div class="fontclass">icon-zoom-out</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-command"></span>
		<div class="fontclass">icon-command</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-cloud"></span>
		<div class="fontclass">icon-cloud</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-hash"></span>
		<div class="fontclass">icon-hash</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-headphones"></span>
		<div class="fontclass">icon-headphones</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-underline"></span>
		<div class="fontclass">icon-underline</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-italic"></span>
		<div class="fontclass">icon-italic</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bold"></span>
		<div class="fontclass">icon-bold</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-crop"></span>
		<div class="fontclass">icon-crop</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-help-circle"></span>
		<div class="fontclass">icon-help-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-paperclip"></span>
		<div class="fontclass">icon-paperclip</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-shopping-cart"></span>
		<div class="fontclass">icon-shopping-cart</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-tv"></span>
		<div class="fontclass">icon-tv</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-wifi-off"></span>
		<div class="fontclass">icon-wifi-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-gitlab"></span>
		<div class="fontclass">icon-gitlab</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-sliders"></span>
		<div class="fontclass">icon-sliders</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-star-on"></span>
		<div class="fontclass">icon-star-on</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-heart-on"></span>
		<div class="fontclass">icon-heart-on</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-archive"></span>
		<div class="fontclass">icon-archive</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-down-circle"></span>
		<div class="fontclass">icon-arrow-down-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-up-circle"></span>
		<div class="fontclass">icon-arrow-up-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-left-circle"></span>
		<div class="fontclass">icon-arrow-left-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-arrow-right-circle"></span>
		<div class="fontclass">icon-arrow-right-circle</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bar-chart-line-"></span>
		<div class="fontclass">icon-bar-chart-line-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-bar-chart-line"></span>
		<div class="fontclass">icon-bar-chart-line</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-book-open"></span>
		<div class="fontclass">icon-book-open</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-code"></span>
		<div class="fontclass">icon-code</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-database"></span>
		<div class="fontclass">icon-database</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-dollar-sign"></span>
		<div class="fontclass">icon-dollar-sign</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-folder-plus"></span>
		<div class="fontclass">icon-folder-plus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-gift"></span>
		<div class="fontclass">icon-gift</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-folder-minus"></span>
		<div class="fontclass">icon-folder-minus</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-git-commit"></span>
		<div class="fontclass">icon-git-commit</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-git-branch"></span>
		<div class="fontclass">icon-git-branch</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-git-pull-request"></span>
		<div class="fontclass">icon-git-pull-request</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-git-merge"></span>
		<div class="fontclass">icon-git-merge</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-linkedin"></span>
		<div class="fontclass">icon-linkedin</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-hard-drive"></span>
		<div class="fontclass">icon-hard-drive</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-more-vertical-"></span>
		<div class="fontclass">icon-more-vertical-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-more-horizontal-"></span>
		<div class="fontclass">icon-more-horizontal-</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-rss"></span>
		<div class="fontclass">icon-rss</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-send"></span>
		<div class="fontclass">icon-send</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-shield-off"></span>
		<div class="fontclass">icon-shield-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-shopping-bag"></span>
		<div class="fontclass">icon-shopping-bag</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-terminal"></span>
		<div class="fontclass">icon-terminal</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-truck"></span>
		<div class="fontclass">icon-truck</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-zap-off"></span>
		<div class="fontclass">icon-zap-off</div>
	</li>

	<li class="iconos">
		<span class="icon feather icon-youtube"></span>
		<div class="fontclass">icon-youtube</div>
	</li>

</ul>