<h2 class="heading-h2 fw-bold mb-3">Tooltip</h2>
<p class="paragraph-regular mb-4">Para una mejor señalización de información.</p>
<hr>
<button type="button" class="btn btn-icon btn-outline-light me-2" placement="top" ngbTooltip="Filtros">
	<span class="feather icon-filter"></span>
</button>
<button type="button" class="btn btn-icon btn-outline-secondary me-2" placement="end" ngbTooltip="Más opciones">
	<span class="feather icon-more-vertical"></span>
</button>
<button type="button" class="btn btn-icon btn-lg btn-primary me-2" placement="bottom" ngbTooltip="Crear documento">
	<span class="feather icon-plus"></span>
</button>
<button type="button" class="btn btn-outline-secondary me-2" placement="start" ngbTooltip="Tooltip izquierda">
	Tooltip izquierda
</button>
<pre prism class="dark mt-3 mb-5" [code]="tooltip" language="html"></pre>